.container{
    display: flex;
    flex-direction: row;
}
.card{
    float: left;
    flex: 50%;
    margin-top:25px;
    margin-left:15px;
}
.button{
    height:5vh;
    width:20vh;
    background-color: rgb(55, 6, 100);
    color:whitesmoke;
    border-radius: 15px;
}
.button1{
    height:5vh;
    width:15vh;
    background-color: palegoldenrod;
    color:black;
    border-radius: 15px;
    font-weight: bold;
    font-size:larger;
    margin-top:5px;
}
.div{
     text-align: center;
}
.form{
    border-radius:15px;
    height:5vh;
    width:30vh;
    font-size: larger;
}