.container{
    display: flex;
    flex-direction: column;
}
.card{
    float: left;
    margin-top:25px;
    height:500px;
    width:auto;
}
.button{
    height:5vh;
    width:20vh;
    background-color: rgb(55, 6, 100);
    color:whitesmoke;
    border-radius: 15px;
}
.button1{
    height:5vh;
    width:15vh;
    background-color: rgb(112, 89, 54);
    border-color: rgb(112, 89, 54);
    color:white;
    border-radius: 15px;
    font-weight: bold;
    font-size:larger;
    margin-top:5px;
}
.div{
     text-align: center;
}
html{
    background-color: blanchedalmond;
}
.form{
    border-radius:15px;
    height:5vh;
    width:30vh;
    font-size: larger;
    margin-top: 20px;
}
.headingcard{
  font-size: large;
  font-weight: bold;
}
.heading{
    float: right;
    flex: 90%;
    text-align: center;
}
.headingcontainer{
    color: whitesmoke;
    background-color: black;
    display: flex;
    font-size: larger;
    text-shadow: 1px 1px white;
}
.image{
    float: right;
    flex: 5%;
    height: 100px;
    width: 105px;
}